recursive-include docs *
recursive-exclude docs *.pyc *.pyo
prune docs/_build

recursive-include tests *
recursive-exclude tests *.pyc *.pyo

include README.rst LICENSE AUTHORS CHANGES
include tox.ini
